.rfd-property-panel {
  box-sizing: border-box;
  position: absolute;
  width: 250px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: $spacing;
  font-size: 12px;
  .rfd-header {
    margin: (-$spacing) (-$spacing) $spacing;
    border-bottom: 1px solid #000;
    background: #f0f0f0;
    .rfd-name {
      padding: ($spacing * 2) $spacing;
      margin: 0;
      text-align: center;
      text-transform: capitalize;
    }
  }
  .rfd-property {
    display: flex;
    align-items: center;
    margin: 0 (-$spacing);
    padding: $spacing;
    label {
      flex: 1;
      margin: 0;
    }
    input, span {
      flex: 2;
    }
  }
  .actions {
    padding: $spacing;
  }
}
